.vscode/**
.vscode-test/**
.git/**
src/**
out/**
node_modules/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
package-lock.json
DEMO.md
img/**
!img/icon.png
*.vsix
